{% extends 'base.html' %}
{% load django_bootstrap_icons %}


{% block title %}
  <title>Kontakt</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col md-10 offset-md-1">
      <center><p>Contact Me!</p></center>
    <center><a href="https://www.linkedin.com/in/cyprianczerwinski/"><button type="button" class="btn btn-primary btn-lg mt-3">{% bs_icon 'linkedin' %} Linkedin</button></a></center>


    </div>
  </div>
</div>{% endblock content %}
