{% extends 'base.html' %}

{% block title %}
  <title>Welcome to taskmate!</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col md-10 offset-md-1">
      <center><p>zaplanuj swój czas z todolist</p></center>
      <center><p>by cyprian</p></center>

      <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Todolist</button></a></center>

    </div>
  </div>
</div>
{% endblock content %}
